body{

		background-image: url(/home/ragini/html/img18.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	
		
        
	}
#bod2{

		background-image: url(/home/ragini/html/img19.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	
		
        
	}
#bod3{

		background-image: url(/home/ragini/html/img25.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	
		
        
	}
#bod4{

		background-image: url(/home/ragini/html/good2.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	
		
        
	}
#bod5{

		background-image: url(/home/ragini/html/img22.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
	
		
        
	}
	* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.header {
   color:black;
  background-color:lightgreen;
  
  padding: 5px;
  opacity:0.5;
  text-align: center;
    font-style: bold;
  font-family: serif;
}

.header1 {
   color:black;
  background-color:white;
  
  padding: 5px;
  opacity:0.5;
  text-align: center;
    font-style: bold;
  font-family: serif;
}

.header2 {
   color:black;
  background-color:white;
  
  padding: 5px;
  opacity:0.5;
  text-align: center;
    font-style: bold;
  font-family: serif;

}
.header3 {
   color:black;
 opacity:0.5;
  padding: 5px;
 
  text-align: center;
  font-style: bold;
  font-family: serif;
}
.header4 {
   color:black;
  background-color:lightblue;
 
  padding: 5px;
  opacity:0.5;
  text-align: center;
  font-style: bold;
  font-family: serif;

}


.topnav {
  overflow: hidden;
opacity:0.8;
  background-color: antiquewhite;

}


.topnav a{
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
font-weight:bold;
font-family: 'Kaushan Script';

}




.clearfix{
	overflow:auto;}

.imagediv{
	margin-left:150px;
        margin-top:50px;
         width:350px;
	float:left;

	

}

.imgeftr{
	border-color: antiquewhite; 
	border-style: inset;
  border-width: 5px;
   border-radius: 5px;
}


.intro{
	margin-right:150px;
        text-align:left;
 font-family: 'Sofia';
          margin-top:50px;
         width:600px;
	float:right;
font-size:20px;
	

}

.icon{
         margin-right:80px;
         padding:100px;
         display:inline-block;
         margin-top:200px;
         width:600px;
	float:right;}

.icon a img{
width:50px;
height:50px;
}





.dropdown {
  float: left;
  overflow: hidden;

}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: brown;
  padding: 14px 50px;
  background-color: antiquewhite;
  font-family: 'Kaushan Script';
font-weight:bold;
  
}
.topnav a:hover, .dropdown:hover .dropbutton {
  background-color: darkred;
  color: black;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: antiquewhite;
 
}

.dropdown-content a {
display:block;
  color: black;
  padding: 12px 50px;
  text-decoration: none;
 
  text-align: left;
}

.dropdown-content a:hover {
  background-color: darkred;
color:black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.animat{
  height: 50px;
 animation-name: anim1;
  animation-duration: 2s;
animation-timing-function: linear;
 animation-fill-mode: forwards;


}

.animat2{
  width: 200px;
  height: 50px;
 text-align:center;
font-weight:bold;
padding:5px;
font-family: 'Kumar One';
  animation-name: anim2;
  animation-duration: 2s;
animation-timing-function: linear;
 animation-fill-mode: forwards;}



@keyframes anim1 {
  0%   {left:0px;}
  25%  {background-color: #00FFCC; }
  50%  {background-color: #00CCCC;}
  50%  {background-color: #0099CC;}
  100% {background-color: #0066CC; opacity:0.8;}
}


@keyframes anim2 {
  0%   {left:0px;}
  25%  {margin-left:20%; }
  50%  {margin-left:40%;}
  50%  {margin-left:60%;}
  100% {margin-leflt:80%;}
}
.achive{
 font-family: 'Galada';
font-size:20px;
float:right;
width:800px;
margin-right:100px;
padding:50px;
color:brown;
font-style:italic;}

.edu{
float:left;
margin-left:100px;
margin-top:100px;
font-family: 'Amita';
width:500px;
padding:20px;
font-size:20px;
}

